<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex, nofollow" />
    <title>pongo timeline</title>
    <style>
      [v-cloak] {
        display: none;
      }
    </style>
    <link rel="stylesheet" href="css/style.css" />
    <!-- 
      "vue": "https://unpkg.com/vue@3.5.13/dist/vue.esm-browser.js"
      "vue": "https://unpkg.com/vue@3.5.13/dist/vue.esm-browser.prod.js" 
     -->
    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3.5.13/dist/vue.esm-browser.prod.js"
        }
      }
    </script>
    <script type="module" src="js/main.js"></script>
  </head>
  <body>
    <main id="app" v-cloak>
      <div class="schedule-base schedule">
        <div class="day-label">
          <div style="display: inline-block">
            <button id="button" @click="toggle">
              {{ !isActive ? "Start" : "Stop" }}
            </button>
            <span style="color: gray; margin-left: 0.25rem">[space]</span>
          </div>
        </div>

        <div v-for="h in 24" class="schedule-header">{{ h - 1 }}:00</div>

        <template v-for="day in schedule">
          <div class="day-label">{{ day.date }}</div>
          <div
            v-for="block in day.blocks"
            :class="{
              'time-block': true,
              'time-block--active': block.active,
            }"
            :style="{
              '--start-hour': block.startHour,
              '--start-minute': block.startMinute,
              '--duration': block.duration,
            }"
            :title="formatBlockTitle(block)"
          ></div>
        </template>

        <div class="schedule-base schedule-overlay">
          <div class="day-label"></div>
          <div
            v-for="h in 24"
            class="schedule-header schedule-header--overlay"
          ></div>
        </div>
      </div>
    </main>
  </body>
</html>
